.menu {
	background-color: $background-menu;
	width: 190px;
	display: block;
}

aside {
	background-color: $background-menu;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 190px;
	color: $text-color-light;

	.logo{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			font-family: $logo-font;
			letter-spacing: 2px;
			font-size: 1.5rem;
			margin: 20px 0;
			padding-left: 25px;
		}
	}

	.sidebar-links {
		margin: 0;
		display: flex;
		flex-direction: column;
		list-style: none;
		padding: 0;
		width: 190px;

		li {
			position: relative;
			width: 100%;
			display: flex;
			align-items: center;
			height: 40px;

		&:hover {
			background-color: rgb(40,40,40);

			a {
				color: #ffffff;
			}

			img {
				filter: invert(95%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(100%) contrast(100%);
			}

			&::before {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				height: 100%;
				width: 5px;
				background-color: $brand-main-color;
				z-index: 11;
			}
		}
	}

		.icon{
			color: $text-color-light;
			width: 15px;
			height: 15px;
			margin-right: 10px;
			//background-color: $text-color;
			margin-left: 30px;
      filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
		}

		a {
			display: flex;
			align-content: center;
			height: 100%;
			width: 100%;
			padding-left: 0;
			text-decoration: none;
			color: $text-color-menu;
			font-size: 0.9rem;
			font-family: $text-font;
      padding-top: 10px;
		}
	}

	.rwd-top-bar {
		width: 100%;
		margin-top: auto;

		.rwd-line {
			width: 100%;
			height: 1px;
			border-top: 1px solid $background-color2;
			margin: 10px 0;
		}

		.rwd-top-menu{
			margin: 0;
			display: flex;
			flex-direction: column;
			list-style: none;
			padding: 0;
			width: 190px;

			&:first-child{
				flex-direction: row;
			}

			.top-link {
				width: 100%;
				display: flex;
				align-items: center;
				height: 35px;
				position: relative;

				&:hover {
					background-color: rgb(40,40,40);

					a {
						color: #ffffff;
					}

					img {
						filter: invert(95%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(100%) contrast(100%);
					}

					&::before {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						height: 100%;
						width: 5px;
						background-color: $brand-main-color;
						z-index: 11;
					}
				}

				a {
					font-size: 12px;
					text-decoration: none;
					margin-left: 20px;
					margin-right: 5px;
					display: flex;
					align-content: center;
					color: $text-color-menu;
					font-family: $text-font;

					&:last-of-type {
						margin-bottom: 5px;
					}
				}

				img {
					height: 15px;
					width: 15px;
					margin: 0 10px;
					filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
				}
			}
		}

	}

	.contact{
		border-top: 1px solid $background-color2;
		padding-left: 20px;
    padding-right: 25px;
	}

	.manager-title{
		color: $text-color-menu;
		padding: 0 35px 0 15px;
		font-size: 10px;
		text-transform: uppercase;
		font-family: $text-font;
	}

	.manager-profile {
		padding: 0 5px 5px 5px;
		align-content: center;
		justify-content: space-between;

		.manager-image {
			width: 50px;
			height: 50px;
			position: absolute;

			img{
				object-fit: cover;
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}

			&::before {
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background-color: rgb(0, 160, 0);
				z-index: 11;
			}
		}

		a {
			text-decoration: none;
			color: #0394fc;
			margin-left: 75px;
			top: 15px;
			position: relative;
			font-family: $text-font;
      font-size: 12px;
		}
	}
}

@media(min-width: 767px) {
	.rwd-top-bar{
		display: none;
	}
}

@media (max-width: 768px) {
	.menu {
		display: block;
		width: 48px;
	}

	aside{
		position: fixed;
		left: 0;
		transition: 0.5s ease;
		transform: translateX(-142px);

		.rwd-top-bar{
			opacity: 0;
		}

		.contact {
			opacity: 0;
			transition: 0.5s ease;
		}

		.sidebar-links li {
			opacity: 0;
		}

		.burger {
			display: block;
		}
	}

	.nav-active {
		aside{
			transform: translateX(0%);
			display: block;
			background-color: $background-menu;
			background: $background-menu;

			.rwd-top-bar{
				opacity: 1;
			}

		.contact {
			opacity: 1;
		}

		.sidebar-links li {
			opacity: 1;
		}
	}
  }
}