.top-bar {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 55px;
	background-color: $background-container;
	border-bottom: 1px solid $background-color2;
	color: $text-color;
	flex-direction: row;
	justify-content: flex-end;
  z-index: 5;
  font-family: $header-font;

	.top-bar-right{
		display: flex;
		//flex-direction: row;
	}

	.top-menu-links{
		display: flex;
		align-items: center;
		margin: 0;
		flex-direction: row;

		.first-link{
			display: flex;
			align-items: center;
			height: 100%;
			list-style: none;
			border-left: 1px solid $background-color2;

			a {
				color: $text-color;

				&:hover img {
					transform: scale(1.3);
          filter: invert(70%) sepia(71%) saturate(4103%) hue-rotate(348deg) brightness(100%) contrast(93%);
				}
			}

			* {
				margin-right: 20px;

				&:first-child {
					margin-left: 20px;
				}
			}

			a {
				font-size: 12px;
			}

			img {
				height: 15px;
				width: 15px;
				margin: 0 10px;
			}
		}
	}

	.name-profile{
		font-size: 13px;
	}

	.balance {
		font-weight: 600;
		font-size: 13px;
	}
}

@media (max-width: 768px) {
	.top-bar {
		display: none;
	}
}