.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $brand-main-color;
	color: $text-color-light;
	border-radius: 3px;
	padding: 0 10px;
	min-height: 40px;
	min-width: 40px;
	text-decoration: none;
	margin-left: 10px;

&:hover {
	cursor: pointer;
	opacity: 0.85;
}
}

.btn-refresh{
img{
	height: 14px;
	width: 14px;
	filter: invert(85%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(300%) contrast(100%);
}
}

.btn-cancel {
	background-color: $text-color;
}