.chat {
  width: 600px;
  font-family: $text-font;

  .chat-title{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;

    h3{
      font-weight: 700;
      font-size: 13px;
    }

    a {
      img{
        filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
        height: 10px;
        width: 10px;
        margin: 0 10px;
      }
    }
  }

  .chat-person-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 0 10px 0;
    margin: 20px 0;

    .manager-imagechat {
      width: 70px;
      height: 70px;
      position: absolute;
      margin-top: 20px;


      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .chat-name {
      display: flex;
      flex-direction: column;
      margin-left: 85px;
      justify-content: center;
      align-items: flex-start;

      h4{
        font-size: 22px;
        font-weight: 700;
        color: black;
        margin-bottom: 0;
        margin-top: 0;
      }

      .btn {
        background-color: rgb(4, 174, 0);
        min-width: 0 !important;
        min-height: 0;
        width: 40px;
        font-size: 10px;
        margin-top: 3px;
        margin-bottom: 0;
      }
    }
  }

  .messages {
    height: 200px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $background-color2;
    border-top: 1px solid $background-color2;

    .answer {
      position: relative;
      padding: 10px;
      margin: 10px auto 5px 0;
      background-color: rgb(243, 243, 241);
    }
  }

  .answer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;

    .chat-input{
      width: 85%;
      height: 32px;
      border: 1px solid $background-color2;
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  .chat {
    .chat-title {
      padding-bottom: 10px;

      h3 {
        font-size: 11px;
      }
    }

    .chat-person-wrapper{
      .manager-imagechat {
        width: 65px;
        height: 65px;
      }

      .chat-name {
        h4 {
          font-size: 20px;
        }
      }
    }
  }
}