.chart-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.chart-title {
		width: 100%;
		height: 10px;
		margin-bottom: 80px;
		margin-left: 30px;

		h5{
			font-size: 12px;
			font-family: $header-font;
		}
	}

	.chart{
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;
	}
}

@media (max-width: 768px){
	.chart-wrapper {
		width: 100%;
	}
}