.overlay{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100 vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 15;
}

.overlay-nav{
  z-index: 10;
}

@media(max-width: 768px) {
  .overlay-active {
    display: block;
  }
}